<% content_for :header do %>
  <%= render :partial => "shared/header_menu" %>
<%end%>

<% content_for :right_sidebar do %>
  <%= render :partial => "shared/right_sidebar" %>
<%end%>


<% content_for :head do %>
  <meta name="description" content="Gabinet Rehabilitacji Rehactive"/>
<% end %>

<div id="gallery-bg">
	<div id="gallery-bgtop">
		<div id="gallery-bgbtm">
      <ul id="myGallery">
	      <li><%= image_tag("https://s3.amazonaws.com/rehactive/gabinet/IMG_1110_small.JPG") %></li>
	      <li><%= image_tag("https://s3.amazonaws.com/rehactive/gabinet/DSC05108_small.JPG") %></li>
	      <li><%= image_tag("https://s3.amazonaws.com/rehactive/gabinet/IMG_1079_small.JPG") %></li>
	      <li><%= image_tag("https://s3.amazonaws.com/rehactive/gabinet/IMG_0982_small.JPG") %></li>
      </ul>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Twoja wizyta</h2><br/>
			<div class="entry">
				<p>Podczas terapii zostanie przeprowadzony szczegółowy wywiad z pacjentem w celu poznania objawów z jakimi zgłosił się pacjent, dotychczasowego leczenie, chorób towarzyszących i przyjmowanych leków, w celu ustalenia przyczyny dolegliwości.</p>
        <p>Poznanie przyczyny choroby pozwala ustalić skuteczny program rehabilitacji, dobrać odpowiednie metody w celu jak najszybszego usprawnienia pacjenta.</p>
			</div>
		</div>
	</div>
</div>
