<% content_for :header do %>
  <%= render :partial => "shared/header_menu" %>
<%end%>

<% content_for :right_sidebar do %>
  <%= render :partial => "shared/right_sidebar" %>
<%end%>

<div id="gallery-bg">
	<div id="gallery-bgtop">
		<div id="gallery-bgbtm">
      <ul id="myGallery">
	      <li><%= image_tag("img13.jpg") %></li>
	      <li><%= image_tag("img14.jpg") %></li>
	      <li><%= image_tag("img15.jpg") %></li>
	      <li><%= image_tag("img16.jpg") %></li>
      </ul>
		</div>
	</div>
</div>

<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h2 class="title">Twoja wizyta</h2><br/>
			<div class="entry">
				<p>Przed rozpoczęciem terapii zostanie przeprowadzony wywiad z pacjentem na temat dolegliwości, na jakie się uskarża, historii dotychczasowego leczenia oraz przebiegu przewlekłych chorób towarzyszących,
a także stale przyjmowanych leków.</p>
        <p>Następnie zostanie przeprowadzone badanie funkcjonalne pacjenta. Po uzyskaniu wszystkich informacji zostanie indywidualnie dobrany i zaplanowany program rehabilitacji.</p>
			</div>
		</div>
	</div>
</div>
