<div id="logo">
	<%= link_to image_tag("logo.png"), root_path %>
</div>
<div id="menu">
  <ul>
    <li id="news" class="<%= 'active' if params[:controller]=='news'%>">
      <%= link_to "Aktualności", news_index_path %>
    </li>
    <li id="offer" class="<%= 'active' if params[:action]=='offer'%>">
      <%= link_to "Oferta", offer_page_path %>
    </li>
    <li id="about" class="<%= 'active' if params[:action]=='about'%>">
      <%= link_to "O mnie", about_page_path %>
    </li>
    <li id="contact" class="<%= 'active' if params[:action]=='contact'%>">
      <%= link_to "Kontakt", new_contact_path %>
    </li>
  </ul>
</div>
