<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <!--[if ie]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script>
      document.createElement('header');
      document.createElement('footer');
    </script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="description" content="Gabinet rehabilitacji Joanna Bieniek" />
  <meta name="author" content="www.rehactive.pl" />
  <meta property="og:title" content="Rehactive"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Gabinet Rehabilitacji Joanna Bieniek"/>
  <meta content="<%= asset_path 'fblogo.png' %>" property="og:image" />
  <meta content="http://www.rehactive.pl" property="og:url" />
  <meta property="og:site_name" content="www.rehactive.pl"/>
  <meta property="fb:app_id" content="221006548001774"/>
  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rehactive</title>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media="all" -->
  <%= stylesheet_link_tag "application" %>
  
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <script type="text/javascript">
    var apiKey = '';
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', apiKey]);
    _gaq.push(['_setDomainName', 'sloogd.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%= yield :scripts %>
</head>

<body class="<%= controller_name %>-controller <%= action_name %>-action">
  <a id="top"></a>
  <header>
    <section>
      <%= yield :header %>
    </section>
  </header>

  <section id="wrapper">
    <section class="main">
      <div id="content">
        <%= yield %> <!--! end of #container -->
      </div>
      <%= yield :right_sidebar %>
    </section>
  </section>

  <%= render partial: "shared/footer" %>

</body>
</html>
